<h1>New Stock Quote Request</h1>
<%= form_tag("/mobilequotes/show", :method => "post") do %>
  <%= label_tag(:text, "Stock Symbol:") %>
  <%= text_field_tag(:symbol) %>

  <%= label_tag(:from, " Senders Mobile:") %>
  <%= text_field_tag(:from) %>

  <%= submit_tag("Submit") %>
<% end %>

